.inputContainer{
    width:800px;
    height:500px;
    background-color:#232925;
    position:absolute;
    top:200px;
    left:600px;
    display:flex;
    flex-direction:column;
    border-radius:20px;
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input{
    border: 1px solid transparent;
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    width: 100%;
    transition: border-color;
    outline: none;
    background:transparent;
}