.row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    gap:10px;
    height:40px;
    background-color:transparent;
    width:inherit;
}

p {
    padding:0 15px 0 15px;
    color:#4b4f4c;
}

.row:hover{
    background-color:#383b38;
    cursor:pointer;
}

input{
    color:white;
}