.header{
    background:#212626;
    top:0;
    left:0;
    width:100%;
    height: 130px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display:flex;
    justify-content: space-between;
    align-items:center;
}

h1 {
    padding: 0 15px 0 15px;
    color: #638080;
}